@model IEnumerable<InvoicesManager.Models.Invoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IssueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentMonthNumber)
        </th>
        <th>
            @Html.Label("Customer name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.NIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.Label("Invoice operations")
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDate)
        </td>
        <td>
            @{ 
                var _number = item.CurrentMonthNumber / 1000000;
                var _month = (item.CurrentMonthNumber % 1000000) / 10000;
                var _year = item.CurrentMonthNumber % 10000;

                var _currentMonthNumber = _number + "/" + _month + "/" + _year;
                }
            @Html.Label(_currentMonthNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.NIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
